#mainNav{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 4vw;
    padding: 1vw 0;
}

#mainNav.secondary{
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    background-color: var(--primary-bg-color);
}

#mainNavLogo{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 40%;
    left: 30%;
    top:30%;
    font-family: "La Belle Aurore", cursive;
    font-size: 3.5vw;
    color: black;
    text-decoration: none;
}
#mainNav ul{
    list-style-type: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 2vw;
}
#mainNav ul li{
 margin: 1vw;   
}

#mainNav ul li a{
    color: black;
    font-family: "Kelly Slab", serif;
    text-decoration: none;
    font-size: 1.2vw;
    position: relative;
    transition: 0.2s color;
}
#mainNav ul li a:hover{
    color: rgb(146, 146, 146);
}
#mainNav ul li a.active::after{
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    left:0;
    bottom: -0.5vw;
}