*{
    margin:0;
    padding:0;
}

:root{
    --light-bg-color: #F6F6F6;
    --primary-bg-color: #CFDDC4;
    --secondary-bg-color: #BBC8B1;
    --recent-blog-title-width: 0%;
    --recent-blog-title-left: 50%;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-full{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#loadingAnim{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
    pointer-events: none;
}
#loadingAnimPlayer{
    width: 20%;
    aspect-ratio: 1/1;
}

body{
    background-color: var(--light-bg-color);
    font-family: "Kanit", sans-serif;
    width: 100vw;
    overflow-x: hidden;
}
#placeholderSection{
    min-height: 90vh;
}

#pageID{
    display: none;
}



#mainLandingPage{
    height: 85vh;
    padding-top: 4vw;
    width: 100vw;
    background-image: url("/img/mainbg.jpg");
    background-size: cover;
    background-position: bottom;
}
#mainLandingPage img{
    width: 70vw;
    clip-path: polygon(0 0, 100% 1%, 100% 0, 0 0);
}



/* SECOND SECTION */
#mainHeader{
    display: inline-block;
    width: 20vw;
}
#mainHeader h2{
    text-align: left;
    font-size: 5vw;
    font-weight: 300;
    transform: translateX(20px);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
#imcarly{
    width: 15vw;
    height: 5vw;
    position: relative;
    top: -1.8vw;
    left: 6vw;
}
#mainDescription{
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    width: 50%;
    position: relative;
    top: -2vw;
    font-weight: 300;
}



#mainSectionTwo{
    background-color: var(--primary-bg-color);
    padding: 2vw 0 10vw 0;
    position: relative;
}
#carouselContainer{
    width: 100vw;
    position: relative;
}
.glide-slide-home a{
    display: inline-block;
    height: 25vw;
    width: 20vw;
    position: relative;
    background-image: url("/img/farmbg.png");
    background-size: cover;
    overflow: show;
    margin-top: 4vw;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.523);
    /* transform-origin: right;
    transform: rotateZ(2deg); */
}
.glide-slide-home a div{
    color: black;
    display: inline-block;
    position: absolute;
    width: 18vw;
    font-size: 2vw;
    text-align: center;
    padding: 0.5vw 0;
    background-color: #F6F6F6;
    font-family: "Kelly Slab", serif;
    top: -1vw;
    left: 5%;
}



#mainSectionThree{
    display: inline-block;
    width: 85%;
    margin-left: 7.5%;
    position: relative;
    top: -5vw;
    background-color: #FCFCFC;
    min-height: 20vw;
}

#recentPostsTitle{
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-family: "Lustria", sans-serif;
    background-color:#FCFCFC;
    z-index: 10;
}
#recentPosts{
    display: inline-block;
    width: 90%;
    margin-left: 5%;
}

.center:has(#recentPostsTitle){
    position: relative;
}
.center:has(#recentPostsTitle)::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: var(--recent-blog-title-width);
    height: 3px;
    left: var(--recent-blog-title-left);
    top: calc(50% - 1.5px);
    background-color: black;
    z-index: 5;
}



/* BLOG RESULT COMPONENT STYLES */
.blog-result{
    display: flex;
    justify-content: space-between;
    min-height: 15vw;
    width: 100%;
    margin: 4vw 0;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 10;
    padding: 0.5vw 0;
}
.blog-result img{
    width: 40%;
    height: 15vw;
    object-fit: cover;
    margin-left: 5%;
    margin-right: 0;
}
.blog-result .content{
    width: 50%;
    padding: 0 1vw;
}
.blog-result-hover{
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width: 0;
    background-color: var(--primary-bg-color);
    z-index: -1;
}
.blog-result.even .blog-result-hover{
    left:0;
}
.blog-result .content .title{
    text-align: left;
    margin-left: -4%;
    position: relative;
    width: 100%;
    font-family: "Lustria", serif;
    font-size: 3vw;
    padding-bottom: 1vw;
}
.blog-result .content .description{
    text-align: left;
    width: 95%;
    margin-left: 5%;
    font-family: "Kanit", sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
}
.blog-result.even img{
    margin-right: 5%;
    margin-left: 0;
}
.blog-result.even .content{
    width: 50%;
    padding: 0 0 0 3%;
}



footer{
    font-family: "Lustria", serif;
    background-color: var(--primary-bg-color);
    width:100%;
    min-height: 10vw;
}

footer .title{
    font-size: 1.5vw;
    padding: 2vw;
}
footer .credits{
    padding: 1vw 0;
    font-size: 1vw;
    text-align: center;
    background-color: var(--secondary-bg-color);
}



.center:has(.social-icon){
    position: relative;
    top: -2vw;
}
.social-icon{
    display: inline-block;
    width: 5vw;
    aspect-ratio: 1/1;
    background-size: 100%;
    background-repeat: no-repeat;
}

.social-icon.youtube{
    background-image: url('/img/youtube_icon.svg');
    background-size: 80%;
    background-position: center;
}
.social-icon.facebook{
    background-image: url('/img/facebook_icon.svg');
}
.social-icon.instagram{
    background-image: url('/img/instagram_icon.svg');
}

/* Tablet Styles */
@media only screen and (min-width: 651px) and (max-width: 959px){
    #mainLandingPage img{
        width: 90vw;
        clip-path: polygon(0 0, 100% 1%, 100% 0, 0 0);
    }
    
    /* SECOND SECTION */
    #mainHeader{
        width: 30vw;
    }
    #mainHeader h2{
        font-size: 7vw;
    }
    #imcarly{
        width: 18vw;
        height: 6vw;
    }
    #mainDescription{
        font-size: 2vw;
        width: 80%;
    }
    .glide-slide-home a{
        display: inline-block;
        height: 28vw;
        width: 22vw;
    }
    .glide-slide-home a div{
        font-size: 3vw;
        left: 10%;
    }
    
    
    #recentPostsTitle{
        font-size: 6vw;
    }

    /* BLOG RESULT COMPONENT STYLES */
    .blog-result{
        min-height: 18vw;
        margin: 5vw 0;
    }
    .blog-result .content .title{
        font-size: 4vw;
    }
    .blog-result .content .description{
        text-align: left;
        width: 95%;
        margin-left: 5%;
        font-family: "Kanit", sans-serif;
        font-size: 1.8vw;
        font-weight: 300;
    }
    .blog-result img{
        height: 18vw;
    }
    
    footer .title{
        font-size: 2vw;
    }
    footer .credits{
        font-size: 1.5vw;
    }
    .social-icon{
        width: 8vw;
        margin: 0 0.5vw;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 650px) {
    body{
        padding-top: 4vh;
    }
    #mainLandingPage{
        height: 60vh;
        padding-top: 4vw;
        width: 100vw;
        background-image: url("/img/mainbg.jpg");
        background-size: cover;
        background-position: bottom;
    }
    #mainLandingPage img{
        width: 100vw;
        clip-path: polygon(0 0, 100% 1%, 100% 0, 0 0);
    }
    #mobileMainLogo{
        position: absolute;
        width: 100%;
        left:0;
        top: 10%;
        font-size: 4.5vh;
        text-align: center;
        font-family: "La Belle Aurore", cursive;
    }
    #mainHeader{
        width: 50%;
    }
    #mainHeader h2{
        font-size: 5.5vh;
    }
    #imcarly{
        width: 30vw;
        height: 5vh;
        top: -1vh;
        left: 8vw;
    }
    #mainDescription{
        font-size: 1.5vh;
        width: 90%;
        padding-bottom: 2vh;
    }
    #mainSectionTwo{
        padding: 2vh 0 10vh 0;
    }
    .glide__slide a{
        height: 26vh;
        width: 20vh;
        margin-top: 4vh;
    }
    .glide__slide a div{
        width: 15vh;
        font-size: 2.2vh;
        padding: 0.5vh 0;
        top: -1vh;
        left: 2.5vh;
    }
    .glide-arrow-home{
        display: none;
    }

    #mainSectionThree{
        width: 95%;
        margin-left: 2.5%;
        top: -5vh;
        min-height: 20vh;
    }
    
    #recentPostsTitle{
        font-size: 4vh;
    }
    .center:has(#recentPostsTitle)::after{
        height: 2px;
    }
    
    
    /* BLOG RESULT COMPONENT STYLES */
    .blog-result{
        height: auto;
        min-height: 14vh;
        margin: 1vh 0;
        padding: 0.5vh 0;
        position: relative;
    }
    .blog-result:not(.blog-result:nth-last-child(1))::before{
        content: "";
        display: inline-block;
        position: absolute;
        width: 80%;
        height: 1px;
        background-color: var(--primary-bg-color);
        bottom: -0.5vh;
        left: 10%;
    }
    .blog-result .content{
        padding: 0 0.5vh;
        width: 70% ;
    }
    .blog-result .content .title{
        margin-left: 2%;
        font-size: 2.8vh;
        padding-bottom: 0.1vh;
    }
    .blog-result img{
        width: 30%;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin-top: 1%;
        margin-right: 0;
    }
    .blog-result .content .description{
        width: 95%;
        margin-left: 5%;
        font-size: 1.2vh;
    }
    .blog-result.even .content{
        width: 60%;
        padding: 0 0 0 0.5vh;
    }
    
    
    
    footer{
        min-height: 10vh;
        position: relative;
        padding-bottom: 4vh;
    }
    
    footer .title{
        font-size: 1.5vh;

    }
    footer .credits{
        font-size: 1vh;
        width: 100%;
        position: absolute;
        bottom:0;
        left:0;
        padding: 2vh 0 ;
    }
    
    
    
    .center:has(.social-icon){
        padding-bottom: 3vh;
    }
    .social-icon{
        width: 6vh;
    }
    
}